<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-left" style="padding-bottom: 0px;">
        <%= image_tag 'cltSpartan.png', width: '150px', height: 'auto' %>
        <%=@event.name%>
      </h1>
    </div>
  </div>
  <hr style="margin-top: 0px;"/>
</div><!-- /.container -->
<div class="container">
  <div class="row">
    <div class="col-lg-8" style="border-right: 1px solid #cdcdcd;">
      <h2>PACKAGES</h2>
      <% @event.packages.each do |package| %>
      <div class="jumbotron">
         <h3><%= package.name %></h3>
         <p><%= package.description %></p>
      </div>
    <% end %>
    </div>
    <div class="col-lg-4">
      <h2>CONTACT US</h2>
      <%= render @info_form %>
    </div>
  </div>
</div>
