<%= form_for([:admin, @package]) do |f| %>
  <% if @package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@package.errors.count, "error") %> prohibited this package from being saved:</h2>

      <ul>
      <% @package.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name %><br>
    <%= f.text_field :name %>
  <div class="field">
      <%= f.label :event %><br>
    <%= f.select :event_id, Event.all.collect{ |e| [e.name, e.id]}, {include_blank: true} %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
    <%= f.text_area :description %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
