<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @package.name %><br>
  <strong>Event:</strong>
  <%= @package.event.nil? ? '' : @package.event.name %><br>
  <strong>Description:</strong>
  <%= @package.description %><br>
</p>

<%= link_to 'Edit', edit_admin_package_path(@package) %> |
<%= link_to 'Back', admin_packages_path %>
